# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/
.venv/
venv/

# Django
db.sqlite3
/media
/static
/staticfiles

# Environment variables
.env

# Operating System
.DS_Store
.env
.vscode/
